
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    justify-content:center;
    align-items: center;
  }
  
  .container {
    margin: 0 auto;
    width: 300px;
  }
  
  .share-container {
    border-radius: 15px;
    display: flex;
    padding-right: 0;
    text-align: center;
    transition: width 0.5s;
    width: 80px;
    background-color: #eeeeee;
  }
  
  .share-container.active {
    width: 100%;
  }
  
  .share-btn {
    width: 90px;
    padding: 5px;
    font-size: 14px;
    font-weight: 800;
    color: #343a40;
    border-radius: 20px;
    background-color: #eeeeee;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .share-btn:hover {
    cursor: pointer;
  }
  
  .share-btn.active {
    color: #ffffff;
    background-color: teal;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 5px 5px 12px;
  }
  
  .share-btn.active:hover {
    background-color: turquoise;
  }
  
  .share-url {
    width: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    color: #eeeeee;
    transition: all 0.2s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .share-url.active {
    width: 100%;
    color: #343a40;
    padding: 6px;
  }
  
  /*fade*/
  .animate {
    opacity: 0;
    transition: all 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animate.active {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .slide-in-down {
    transform: translateY(-100%) translateX(-50%);
  }
  
  /*notification*/
  .notification-button {
    position: fixed;
    top: 40px;
    left: 50%;
    padding: 10px 20px;
    background: #343a40;
    color: #eeeeee;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
  }